* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --red: #E3646E;
    --blue: #3996DB;
    --purple: #BB72E9;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    --font-asap: "Asap", sans-serif;
    --font-inconsolata: "Inconsolata", monospace;
    --font-maven: "Maven Pro", sans-serif;

    --title-lg: 700 56px/120% var(--font-asap);
    --title-md: 700 24px/120% var(--font-asap);
    --title-sm: 700 16px/120% var(--font-asap);

    --subtitle: 400 20px/120% var(--font-inconsolata);

    --text-md: 400 16px/140% var(--font-maven);
    --text-sm: 400 14px/140% var(--font-maven);
}
html{
    display: flex;
    justify-content: center;
}
body {
    background-color: var(--gray-200);
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 1366px;
}

h1, h2, h3, h4{
    color: var(--gray-600);
}

h1 {
    font: var(--title-lg);
}

h2 {
    font: var(--subtitle);
}

h3 {
    font: var(--title-md);
}

h4 {
    font: var(--title-sm);
}

ul {
    list-style: none;
}

section {
    padding-inline: 120px;
}